<div class="wrapper">
<app-header></app-header>
<div class="container">
    <div class="box1">
        <ul>
            <li>
                <a routerLink="/addbook">Add Book</a>
            </li>
            <li>
                <a routerLink="/deletebook">Delete Book</a>
            </li>
            <li>
                <a routerLink="/viewbook">View Book</a>
            </li>
            <li>
                <a routerLink="/issuebook">Issue Book</a>
            </li>
            <li>
                <a routerLink="/returnbook">Return Book</a>
            </li>
        </ul>
    </div>
</div>
<app-footer></app-footer>
</div>