*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.box1{
    margin-top: 50px;
}

.box1 input{
    padding: 10px 20px 10px 20px;
    margin: 10px 0;
    background-color: #000;
    color: #f4f4f4;
}

#btn{
    background-color: #000;
    color: #f4f4f4;
    font-weight:bold;
}

.container{
    text-align: center;
    margin: auto;
}

h4{
    color: yellow;
    font-weight: 900;
    
}