*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;

}

.wrapper{
    max-height: 100vh;
    overflow: hidden;


    background: url('./assets/images/lib.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    opacity: 10;
}

.btn1{
    background-color: #000;
    color: #f4f4f4;
    font-weight:bold;
    margin-top: 5px;
    padding: 10px 20px;
}

.container{
    text-align: center;
    margin: auto;
}

.pos-foot{
    width: 100%;
    position: absolute;
    top: 465px;

}


input{
    border: #f4f4f4 1px solid;
}